@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables/variables";

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

body {
  overflow-x: hidden;
  background-color: #F7F8FC;
}

.mxAuto {
  margin: 0 auto !important;
}

.line-2,
.line {
  height: 3px;
  background: #70707089;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 110px;
  height: 6px;
  background: #FCDD06;
}

.line-2::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 42%;
  width: 210px;
  height: 6px;
  background: #FCDD06;
}

.TrendingCourses {
  .slick-dots {
    top: -70px;
    left: 44%;
  }
}

.slick-active .btn-dots {
  background: #FCDD06 !important;
}

.HeroSections {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}


@media screen and (min-width:1024px) {}

@media screen and (min-width:768px) and (max-width:1023px) {
  .TrendingCourses .slick-dots {
    left: 42%;
  }
}

@media screen and (max-width:767px) {
  .TrendingCourses .slick-dots {
    left: 35%;
  }

  .line-2::before {
    right: 33%;
  }
}